<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include '_includes/global/head.twig' %}
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="remodal-bg">
    <main>
            {% include '_includes/global/header.twig' %}
            {% block hero %}{% endblock %}
            <div class="content-container fw">
                {% block content %}{% endblock %}
            </div>
            {% include '_includes/global/footer.twig' %}
    </main>
    </div>
    {% include '_includes/global/foot.twig' %}
    {{ getFootHtml() }}
</body>
</html>
